body{
font-family: serif;
margin: 1%;
}
.content{
  margin: 4%;
  display: flex;
  justify-content: space-between;
}
.annonce{
  width: 60%;
  margin: auto;
  font-size: 40px;
  text-transform: uppercase;
  font-family: helvetica;
  color:Black;
  font-weight: bold;
  text-align: center;
}
.expo, .atelier, .news{
  width: 30%;
  text-align: center;
}
.annonce img{
  width: 10% ;
}
h1,h2,h3,h4,h5{
font-family: Gill Sans Extrabold, sans-serif;
}
h1{
  text-transform: uppercase;
}
p{
  margin-top: 2%;
  text-align: left;
}
li{
  list-style: none;
}
.expo img, .atelier img, .news img{
  width: 50%;
}
